<div class="modal fade" id="paypalModal" tabindex="-1" role="dialog" aria-labelledby="paypalModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paypalModalLabel">Pagamento <strong>{{getNameValue()}}</strong></h5>
      </div>
      <div class="modal-header">
        <h5 class="modal-title">Importo: {{getPriceValue()}}€</h5>
      </div>
      <div class="modal-body">
        <div id="paypal-button-container"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Chiudi</button>
      </div>
    </div>
  </div>
</div>
