<section class="container-xl" id="chi-sono">
  <div class="row justify-content-center align-items-center pt-1 pb-4 mb-4 ms-lg-4">
    <div class="col-12 col-lg-6 order-2 order-lg-1 text-center text-lg-start mb-5 mb-lg-0">
      <h1 class="mb-3 mx-5 mx-lg-0 fw-bold">Nunzia Martella</h1>
      <p class="subtitulo mb-3 mx-5 mx-lg-0 fw-bold">Ti racconto un po di me</p>
      <p>     
        La passione per la psicologia infantile e per l’educazione hanno indirizzato la mia vita privata e quella professionale. Lavoro da più di 15 anni a stretto contatto con i bambini e le loro famiglie, utilizzando approcci educativi basati sull’evidenza scientifica e strategie educative efficaci ed effettive con l’obiettivo di sostenerli nel raggiungimento dei loro obiettivi e nel miglioramento della qualità di vita. 
      </p>
      <p>
        Mi sono laureata in Scienze e Tecniche Psicologiche dello sviluppo e dell’educazione e conseguito una laurea specialistica in Psicologia Clinica. Dopo alcuni anni vissuti tra esperienze lavorative e personali gratificanti e stimolanti, ho deciso di rimettermi a studiare, ho conseguito un master di secondo livello in “Analisi del Comportamento Applicata e interventi per l’Autismo in età evolutiva” (Applied Behaviour Analysis - ABA) e lavorato molti anni con lo stesso affiatatissimo team, al fianco di genitori e dei loro bambini con disturbo dello spettro autistico. 
      </p>
      <p>
        La mia vita professionale e personale era già molto ricca, ma ho deciso di dare inizio ad un nuovo capitolo nella città di Barcellona, dove tutt’ora vivo. Qui ho deciso di dedicare alla maternità tutta me stessa e investire il mio tempo in nuovi studi. 
      </p>
      <p>
        Attualmente faccio parte sia della Positive Discipline Association, che della Asociacion Disciplina Positva España. Tante crescite personali e professionali, tante riflessioni ed evoluzioni mi hanno portata a capire definitivamente quale approccio voglio avere con le famiglie e i bambini, quale valore aggiunto posso inserire nel mio percorso lavorativo ed umano e come desidero definitivamente vivere la mia genitorialità. Nelle consulenze e nei per-corsi di formazione per le famiglie potrai trovare tutto questo.
      </p> 
    </div>   
    <div class="col-12 col-lg-6 order-2 order-lg-1 text-center text-lg-start mb-5 mb-lg-0">
      <div class="d-none d-sm-block">
        <div class="container mb-5 mt-3 d-flex justify-content-center">
          <!-- <div class="card fixed-card bg-primary">
            <div class="card-body">
              <p class="card-text">Se desideri ricevere informazioni più dettagliate e il programma di uno o più webinar, inviami una mail, sarò felice di rispondere ad ogni domanda.</p>
              <a class="nav-link mb-4 mb-lg-0 d-inline fw-bold" href="mailto:info@educareinpositivo.com">info&#64;educareinpositivo.com</a>
            </div>
          </div> -->
        </div>
      </div>
      <img class="img-fluid" src="img/readMoreDef.png" alt="educare in positivo" />
    </div>
  </div> 
  <div class="row justify-content-center align-items-center pt-1 pb-4 mb-4 ms-lg-4">
    <div class="col-12 col-lg-6 order-2 order-lg-1 text-center text-lg-start mb-5 mb-lg-0">
      <h2 class="mb-3 mx-5 mx-lg-0 fw-bold">Ester Zea</h2>
      <p class="subtitulo mb-3 mx-5 mx-lg-0 fw-bold">Ti racconto un po di me</p>
      <p>     
        La passione per la psicologia infantile e per l’educazione hanno indirizzato la mia vita privata e quella professionale. Lavoro da più di 15 anni a stretto contatto con i bambini e le loro famiglie, utilizzando approcci educativi basati sull’evidenza scientifica e strategie educative efficaci ed effettive con l’obiettivo di sostenerli nel raggiungimento dei loro obiettivi e nel miglioramento della qualità di vita. 
      </p>
      <p>
        Mi sono laureata in Scienze e Tecniche Psicologiche dello sviluppo e dell’educazione e conseguito una laurea specialistica in Psicologia Clinica. Dopo alcuni anni vissuti tra esperienze lavorative e personali gratificanti e stimolanti, ho deciso di rimettermi a studiare, ho conseguito un master di secondo livello in “Analisi del Comportamento Applicata e interventi per l’Autismo in età evolutiva” (Applied Behaviour Analysis - ABA) e lavorato molti anni con lo stesso affiatatissimo team, al fianco di genitori e dei loro bambini con disturbo dello spettro autistico. 
      </p>
      <p>
        La mia vita professionale e personale era già molto ricca, ma ho deciso di dare inizio ad un nuovo capitolo nella città di Barcellona, dove tutt’ora vivo. Qui ho deciso di dedicare alla maternità tutta me stessa e investire il mio tempo in nuovi studi. 
      </p>
      <p>
        Attualmente faccio parte sia della Positive Discipline Association, che della Asociacion Disciplina Positva España. Tante crescite personali e professionali, tante riflessioni ed evoluzioni mi hanno portata a capire definitivamente quale approccio voglio avere con le famiglie e i bambini, quale valore aggiunto posso inserire nel mio percorso lavorativo ed umano e come desidero definitivamente vivere la mia genitorialità. Nelle consulenze e nei per-corsi di formazione per le famiglie potrai trovare tutto questo.
      </p> 
    </div>   
    <div class="col-12 col-lg-6 order-2 order-lg-1 text-center text-lg-start mb-5 mb-lg-0">
      <div class="d-none d-sm-block">
        <div class="container mb-5 mt-3 d-flex justify-content-center">
          <!-- <div class="card fixed-card bg-primary">
            <div class="card-body">
              <p class="card-text">Se desideri ricevere informazioni più dettagliate e il programma di uno o più webinar, inviami una mail, sarò felice di rispondere ad ogni domanda.</p>
              <a class="nav-link mb-4 mb-lg-0 d-inline fw-bold" href="mailto:info@educareinpositivo.com">info&#64;educareinpositivo.com</a>
            </div>
          </div> -->
        </div>
      </div>
      <img class="img-fluid" src="img/readMoreDef.png" alt="educare in positivo" />
    </div>
  </div>
</section>
