<section class="container-xl mt-5 pb-4 mt-lg-1 mb-10 container-fluid" id="servizi">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-12 col-lg-6 mx-auto text-center mt-5 px-1">
      <h3 class="fw-bold text-secondary">Come posso aiutarti</h3>        
    </div>
  </div>
  <div class="card-adapt row flex-column flex-lg-row justify-content-center align-items-center align-items-lg-start text-center bg-white">
    <div class="col-12 col-lg-5 mt-5">
      <div class="card shadow rounded-3 mx-auto border border-primary" style="width: 80%;">          
        <div class="card-body">
          <h5 class="card-title mt-3 text-secondary fw-bold">Per-corso “educare in positivo”</h5>
          <p class="card-text mb-4 text-black-50">Come genitori, spesso sentiamo i primi anni dell’infanzia dei nostri figli come interminabili. Sono anni bellissimi, pieni di nuove scoperte ed avventure, ma anche anni molto duri in cui scopriamo che una delle cose più diffili è la gestione delle nostre stesse emozioni. <br>&nbsp</p>                      
          <div class="buttons">
            <button class="btn btn-primary me-3 px-3 py-2 border-2 shadow-sm" [routerLink]="['/percorso-educare']">         
                <span class="small">È perfetto per te se</span>              
            </button>      
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-5 mt-5">
      <div class="card shadow rounded-3 mx-auto border border-primary" style="width: 80%;">          
        <div class="card-body">
          <h5 class="card-title mt-3 text-secondary fw-bold">Supporto personalizzato</h5>
          <p class="card-text mb-4 text-black-50">Nella consulenza personalizzata ti ascolterò attivamente. Costruiremo insieme strategie per affrontare le tue specifiche sfide educative. Ci concentreremo su soluzioni pratiche, realizzabili e basate sui principi della <strong>Disciplina Positiva</strong>. Ti aiuterò supportandoti nel viaggio verso la genitorialità cosciente.</p>           
          <div class="buttons">
            <button class="btn btn-primary me-3 px-3 py-2 border-2 shadow-sm" [routerLink]="['/supporto-personalizzato']">         
                <span class="small">È perfetto per te se</span>              
            </button>      
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-5 mt-5">
      <div class="card shadow rounded-3 mx-auto border border-primary" style="width: 80%;">          
        <div class="card-body">
          <h5 class="card-title mt-3 text-secondary fw-bold">Webinar tematici</h5>
          <p class="card-text mb-4 text-black-50">Sei interessato ad approfondire temi specifici che riguardano le tappe di sviluppo del tuo bambino? Hai bisogno di informazioni, tecniche e strategie efficaci ed effettive per affrontare in modo calmo, rispettoso e positivo momenti importanti come l'ambientamento al nido o alla scuola dell’infanzia, lo spannolinamento ecc.? Potrai informarti e formarti su temi specifici ed accedere rapidamente ai contenuti grazie alla modalità online in diretta.</p>           
         <div class="">
          <div class="buttons">
            <button class="btn btn-primary me-3 px-3 py-2 border-2 shadow-sm" [routerLink]="['/webinar']">         
                <span class="small">Scopri quello giusto per te</span>              
            </button>      
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>