<section class="container-xl mt-5 mb-3" id="disciplina-positiva">
  <div class="row">
    <div class="col-12 col-lg-8 mx-auto text-center mt-5 px-1">
      <h2 class="fw-bold">Cos’è la Disciplina Positiva e cosa può fare per te</h2>
      <p class="text-black-50 mx-5 mx-lg-3 mt-4 mt-lg-4">La <strong>Disciplina Positiva</strong> è un modello educativo rivolto ai genitori ed educatori. Fu sviluppato nel 1988 dalla dott.ssa
          Nelsen ed è basato sul lavoro di due psicologi umanistici Adler e Dreikus.</p>
    </div>
  </div>
  <div class="row justify-content-center">
      <div class="d-flex col-12 col-lg-8 justify-content-center mb-5 mt-5">
          <ul class="list-group list-group-flush">
              <li class="list-group-item">Aiuta a comprendere il comportamento dei bambini e come aiutarli a sviluppare il loro potenziale guidandoli in modo positivo, fermo e amorevole allo stesso tempo.</li>
              <li class="list-group-item">Fornisce strumenti educativi effettivi con focus su comunicazione, mutuo rispetto, amore, connessione ed empatia, offrendo un'alternativa allo stile permissivo o autoritario.</li>
              <li class="list-group-item">Insegna come essere gentile e fermo allo stesso tempo.</li>
              <li class="list-group-item">Permette al tuo bambino di apprendere abilità e norme di vita e sociali, lo farà sentire valorizzato, importante e parte rilevante della famiglia e della società.</li>         
          </ul>                      
      </div>
    <div class="row justify-content-center">
      <div class="d-flex justify-content-center">
          <button class="btn btn-primary px-3 border-2" [routerLink]="['/disciplina-positiva']">
            <span class="small w-35" >Scopri di più sulla <strong>Disciplina Positiva</strong></span>
          </button> 
          <app-btn-chiamata></app-btn-chiamata>
      </div>
    </div>      
  </div>
</section>
