<section class="container-xl mt-5" id="per-corso-educare">
  <div class="row justify-content-center align-items-start pt-1 pb-4 mb-4">
    <div class="col-12 col-lg-6 mb-5 text-center text-lg-start order-1 order-lg-1">
      <h3 class="mb-3 fw-bold">Percorso “educare in positivo”</h3>
      <p>
        <strong>Il per-corso è perfetto per te se:</strong>
      </p>
      <ul class="list-unstyled">
        <li>Sei genitore o caregiver di un bimbo in età compresa tra 2 e 6 anni.</li>
        <li>Vuoi imparare a capire il comportamento del tuo bambino.</li>
        <li>Senti la necessità di avere a disposizione strategie educative efficaci e concrete per affrontare le sfide quotidiane dell’essere genitori.</li>
        <li>Cerchi risposte educative con risultati a lungo termine.</li>
        <li>Vuoi scoprire come educare con amore e fermezza allo stesso tempo.</li>
        <li>Cerchi un’alternativa allo stile educativo permissivo e autoritario.</li>
        <li>Vuoi connetterti con i tuoi figli in modo autentico migliorando la vostra relazione e la qualità della comunicazione.</li>
        <li>Desideri vivere con consapevolezza il tuo ruolo di genitore.</li>
      </ul>
      <p>
        Il per-corso è rivolto alle famiglie che desiderano condividere con altri genitori le loro esperienze, dubbi e incertezze. Che sentono il bisogno di una guida, un supporto. Che desiderano capire come poter gestire il carico e contemporaneamente continuare a godere di questi preziosi anni.
      </p>
      <p>
        Prevede attività esperienziali basate sui principi della <strong>Disciplina Positiva</strong>, grazie alle quali potrai praticare le abilità acquisite. Entrerai “nel mondo” del tuo bambino e comprenderai quello che sta pensando, sentendo e decidendo in base allo stile educativo che stai utilizzando.
      </p>
      <p><strong>Pronto a iniziare?</strong></p>
      <p>Se vuoi avere informazioni rispetto alle modalità, costi e durata del per-corso, scrivimi una mail, sarò felice di rispondere a tutte le tue domande.</p>
      <a class="nav-link mb-4 fw-bold" href="mailto:info@educareinpositivo.com">info&#64;educareinpositivo.com</a>
    </div>
    <div class="col-12 col-lg-2 mb-5 text-center order-2 order-lg-2 d-flex align-items-center justify-content-center">
      <div class="d-none d-sm-block">
        <button class="btn btn-cta" type="button" (click)="handleButtonClick()">INSCRIVERMI</button>
      </div>      
    </div>
    <div class="col-12 col-lg-4 mb-5 text-center order-3 order-lg-3">
      <img class="img-fluid" src="img/corsoDiFormazione.png" alt="educare in positivo" />
    </div>
  </div>
  <!-- modal -->
  <div>
    <app-modal-paypal></app-modal-paypal>
  </div>
</section>

