<div class="col-12 order-2 order-lg-1 text-center pt-4 mt-4">
  <h1>"L'infanzia è il giardino <br>in cui giocheremo da adulti"</h1>
</div>
<button id="btn" class="btn btn-ctaChiamata" type="button" [routerLink]="['/calendar']">
  PRENOTA UNA CHIAMATA CONOSCITIVA
</button>
<section class="container-xl mt-5" id="chi-sono">
  <div class="row justify-content-center align-items-center pt-4 mt-4 ms-lg-4">
    <div class="col-12 col-lg-6 order-2 order-lg-1 text-center text-lg-start mb-5 mb-lg-0">
      <h2 class="mb-3 mx-5 mx-lg-0 fw-bold">Cosa è Educare in Positivo</h2>
      <p class="text-black-50 mb-4 mx-5 mx-lg-0 pe-lg-5">
        L’associazione Educare in Positivo nasce a Barcellona dall’idea di una mamma italiana e una spagnola. Lo scopo è di guidare, appoggiare e aiutare le mamme e i papà durante il coraggioso viaggio dell’essere genitori. In particolare, desideriamo essere un punto di riferimento per le famiglie italiane all’estero (e non solo).  
        Sappiamo quanto sia importante, per esperienza personale, il senso di appartenenza e, parlare la stessa lingua, provenire dalla stessa cultura costituiscono un valore aggiunto quando si cerca un appoggio.
      </p>        
      <div class="buttons">
          <button class="btn btn-primary me-3 px-3 py-2 border-2 shadow-sm" [routerLink]="['/chi-sono']" >         
              <span class="small">Ti raccontiamo un po di noi</span>              
          </button>      
      </div>
    </div>
    <div class="col-12 col-lg-6 order-1 order-lg-2 mb-5 mb-lg-0 mt-lg-5 text-center position-relative">
      <img class="img-fluid" src="img/homePageDef.png" alt="photo Nunzia Martella">        
    </div>
  </div>
</section> 
<app-alert-notification 
  [alertStatus]="alertStatus"
  [alertMessage]="alertMessage"
  (alertClosed)="dismissAlert()"
>
</app-alert-notification>
