<div class="col-12 order-2 order-lg-1 text-center pt-4 mt-4">
  <h2> "L'infanzia è il giardino <br>in cui giocheremo da adulti"</h2>
</div>

<section class="container-xl mt-5" id="chi-sono">
  <div class="row justify-content-center align-items-center pt-4 mt-4 ms-lg-4">
    <div class="col-12 col-lg-6 order-2 order-lg-1 text-center text-lg-start mb-5 mb-lg-0">
      <h3 class="mb-3 mx-5 mx-lg-0 fw-bold">Chi sono</h3>
      <p class="text-black-50 mb-4 mx-5 mx-lg-0 pe-lg-5">
          Ciao sono Nunzia Martella, Dottoressa in Psicologia, Analista del Comportamento e Consulente Certificata in <strong>Disciplina Positiva</strong> per le famiglie. Come professionista e mamma, ti accompagno nel coraggioso viaggio dell’essere genitore.
          <br>
          Sono felice che il tuo percorso ti abbia portato su questa pagina. Se sei qui, desideri iniziare ad <strong>educare in positivo</strong>, connettendoti con il tuo bambino attraverso l’amore e il rispetto. Qui inizia il tuo percorso verso una genitorialità cosciente.
      </p>        
      <div class="buttons">
          <button class="btn btn-primary me-3 px-3 py-2 border-2 shadow-sm" [routerLink]="['/chi-sono']">         
              <span class="small">Ti racconto un po di me</span>              
          </button>      
      </div>
    </div>
    <div class="col-12 col-lg-6 order-1 order-lg-2 mb-5 mb-lg-0 mt-lg-5 text-center position-relative">
      <img class="img-fluid" src="img/homePageDef.png" alt="photo Nunzia Martella">        
    </div>
  </div>
</section>
