<h1>Servizi di Educare in Positivo</h1>
<section class="container-xl mt-5 mb-5">
  <div class="row justify-content-center">
      <!-- Card Percorso Educare -->
      <div class="col-12 col-lg-4 mb-4">
          <div class="card custom-card p-4" style="min-height: 450px;">
              <div class="card-body text-center">
                  <h2 class="card-title mb-3"><strong>Percorso <br> Educare</strong></h2>
                  <p>Il per-corso è perfetto per te se:</p>
                  <ul class="mb-3 text-start">
                    <li>Sei genitore o caregiver di un bimbo in età compresa tra 2 e 6 anni.</li>
                    <li>Vuoi imparare a capire il comportamento del tuo bambino.</li>
                  </ul>
                  <p class="card-price"><strong>{{ services[0].price !== null ? services[0].price : 'Loading...' }}€</strong></p>
                  <div>
                    <button class="btn btn-primary" type="button" (click)="handleButtonClick(0)">INSCRIVERMI</button>
                    <button class="btn btn-primary" [routerLink]="['/percorso-educare']">SAPERE DI PIÙ</button>
                  </div>
              </div>
          </div>
      </div>
      <!-- Card Consulenza Personalizzata -->
      <div class="col-12 col-lg-4 mb-4">
          <div class="card custom-card p-4" style="min-height: 450px;">
              <div class="card-body text-center">
                  <h2 class="card-title mb-3"><strong>Consulenza Personalizzata</strong></h2>
                  <p>Il per-corso è perfetto per te se:</p>
                  <ul class="mb-3 text-start">
                    <li>Sei genitore o caregiver di un bimbo in età compresa tra 2 e 6 anni.</li>
                    <li>Senti la necessità di una guida professionale.</li>
                  </ul>
                  <p class="card-price"><strong>{{ services[1].price !== null ? services[1].price : 'Loading...' }}€</strong></p>
                  <div>
                      <button class="btn btn-primary" type="button" (click)="handleButtonClick(1)">INSCRIVERMI</button>
                      <button class="btn btn-primary" [routerLink]="['/supporto-personalizzato']">SAPERE DI PIÙ</button>
                  </div>
              </div>
          </div>
      </div>

      <!-- Card Webinar Tematici -->
      <div class="col-12 col-lg-4 mb-4">
          <div class="card custom-card p-4" style="min-height: 450px;">
              <div class="card-body text-center">
                  <h2 class="card-title mb-3"><strong>Webinar Tematici</strong></h2>
                  <p class="card-text text-start">Scopri una serie di webinar per approfondire tematiche educative specifiche.</p>
                  <ul class="mb-3 text-start">
                    <li>Lasciare il pannolino</li>
                    <li>Ambientamento sereno al nido e scuola</li>
                    <li>Non chiamateli capricci</li>
                  </ul>
                  <p class="card-price"><strong>{{ services[2].price ? services[2].price : 'Loading...' }}€</strong></p>
                  <div>
                      <!-- <button class="btn btn-primary" [routerLink]="['/webinar']">INSCRIVERMI</button> -->
                      <button class="btn btn-primary" [routerLink]="['/webinar']">SAPERE DI PIÙ</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<app-modal-paypal></app-modal-paypal>