.custom-card {
  //background-color: #F1FCFE; /* Fondo claro */
  border: 2px solid #98d2de; /* Borde azul claro */
  border-radius: 15px; /* Redondeo */
}

.custom-card .card-title {
  color: #9f83bd; /* Título en morado suave */
}

.custom-card .card-price {
  color: #9f83bd; /* Precio en azul claro */
  font-weight: bold;
  font-size: 30px;
}



