<section class="container-xl mt-5" id="chi-sono">
  <div class="row justify-content-center align-items-center pt-1 pb-4 mb-4 ms-lg-4">
    <div class="col-12 order-2 order-lg-1 text-center text-lg-start mb-5 mb-lg-0">
      <h1 class="mb-3 mx-5 mx-lg-0 fw-bold">Privacy policy</h1><br>
        <p>Attraverso il presente avviso, "Educare in Positivo" informa gli utenti del sito web <a href="http://www.educareinpositivo.com">www.educareinpositivo.com</a>, in conformità al Regolamento (UE) 2016/679 del Parlamento Europeo e del Consiglio, del 27 aprile 2016 (Regolamento Generale sulla Protezione dei Dati) e altre normative applicabili, della propria politica di protezione dei dati personali con l'obiettivo che gli utenti decidano in modo espresso, libero e volontario di fornire a "Educare in Positivo" i dati personali richiesti, motivati dalla richiesta di informazioni o dalla contrattazione dei vari prodotti e servizi offerti relativi a produzioni audiovisive e di comunicazione per la promozione di prodotti e servizi, mediante qualsiasi tecnica audiovisiva.</p>
        <p>Salvo indicazione contraria, è necessario completare tutti i dati richiesti nel modulo o nel documento analogo in modo veritiero, preciso, completo e aggiornato. In caso contrario, "Educare in Positivo" potrebbe, a seconda del caso, non procedere alla registrazione dell'utente o negare il servizio specifico richiesto. Tutti i dati forniti dall'utente/interessato saranno trattati secondo le caratteristiche dettagliate di seguito.</p>
        <br>

        <h2>Informazioni relative al trattamento dei dati personali</h2><br>        
        <ol>
          <li><u>Identificazione del responsabile:</u></li>
          <p>"Educare in Positivo", con sede a Barcellona (Spagna), con CIF <strong>G75393737</strong>, email di contatto: <a href="mailto:info@educareinpositivo.com">info&#64;educareinpositivo.com</a>.</p>
          
          <li><u>Finalità del trattamento:</u></li>
          <p>Tutti i dati forniti saranno trattati con le seguenti finalità:</p>
          <ul>
            <li>Rispondere alle richieste effettuate dall'interessato.</li>
            <li>Mantenimento del rapporto eventualmente stabilito.</li>
            <li>Gestione, amministrazione, informazione, fornitura e miglioramento dei servizi contrattati.</li>
            <li>Comunicazioni commerciali relative ai nostri prodotti e servizi.</li><br>
          </ul>
          <p>I dati personali forniti saranno conservati finché persiste il rapporto contrattuale, l'interessato non ne richieda espressamente la cancellazione o finché siano necessari per le finalità del trattamento. I dati non verranno distrutti qualora esista una previsione legale che ne richieda la conservazione, nel qual caso saranno bloccati, rendendoli disponibili solo alle amministrazioni pubbliche o alle forze di sicurezza per rispondere alle possibili responsabilità derivanti dal trattamento, durante il periodo di prescrizione di queste ultime.</p>
          <p>Al momento non vengono effettuati trattamenti relativi a decisioni automatizzate, inclusa la profilazione, basati sui dati personali.</p>

          <li><u>Base giuridica del trattamento:</u></li>
          <p>Ogni trattamento effettuato sui dati personali è stato previamente e espressamente autorizzato dall'interessato. Preliminarmente vengono fornite tutte le informazioni richieste dalla legge per consentire un consenso informato.</p>
          <p>L'interessato potrà revocare tale consenso in qualsiasi momento come indicato più avanti nel presente documento.</p>

          <li><u>Minori:</u></li>
          <p>Il contenuto e i servizi offerti da "Educare in Positivo" sono destinati esclusivamente a maggiorenni. È vietato l'uso e la consultazione da parte di minori. Chiediamo espressamente ai genitori o tutori di adottare le misure necessarie per evitare che i minori possano registrarsi, utilizzando programmi di controllo parentale o sistemi analoghi, e di informarci qualora abbiano indizi che un minore si sia registrato per consentirci di adottare le misure appropriate in ogni caso.</p>
          <p>"Educare in Positivo" si riserva il diritto di richiedere all'utente documentazione che certifichi la propria identità nei casi in cui vi siano dubbi sulla veridicità dei dati forniti, negando la prestazione dei servizi qualora l'utente non risponda a tale richiesta. Sono stati stabiliti meccanismi di controllo ragionevoli per evitare che i minori utilizzino i servizi offerti.</p>

          <li><u>Destinatari, comunicazioni e trasferimenti dei dati:</u></li>
          <p>I tuoi dati non saranno ceduti a terzi salvo che sia strettamente necessario per il raggiungimento delle finalità sopra descritte o per obblighi di legge.</p>
          <p>Inoltre, i tuoi dati non saranno trasferiti a paesi al di fuori dell'Unione Europea, salvo che sia indispensabile per il raggiungimento delle finalità e tu ci abbia autorizzato previamente e espressamente.</p>

          <li><u>Diritti degli interessati:</u></li>
          <p>Potrai esercitare in qualsiasi momento i diritti elencati di seguito, inviando una richiesta via posta a "Educare in Positivo" con sede a Barcellona (Spagna) o via email a <a href="mailto:info@educareinpositivo.com">info&#64;educareinpositivo.com</a>. La richiesta deve contenere nome, cognome e documentazione che attesti l'identità dell'interessato o del suo rappresentante legale, nonché un documento che certifichi la rappresentanza, la richiesta specifica, l'indirizzo ai fini di notifica e, se del caso, documenti giustificativi della richiesta presentata. Qualora la richiesta non soddisfi i requisiti specificati, sarà richiesto di correggerla.</p>
          <p>I diritti degli interessati sono:</p>
          <ul>
              <li>Diritto di accesso: ottenere conferma se i dati personali che ti riguardano sono trattati o meno e, in tal caso, ottenere accesso ai dati e alle informazioni relative al trattamento.</li>
              <li>Diritto di rettifica: ottenere la correzione senza ritardo di dati personali inesatti o incompleti.</li>
              <li>Diritto alla cancellazione: ottenere la cancellazione dei dati personali quando non sono più necessari, l'interessato revoca il consenso o si oppone al trattamento, tra altre circostanze.</li>
              <li>Diritto alla limitazione del trattamento: ottenere la limitazione del trattamento in determinate condizioni.</li>
              <li>Diritto di opposizione: opporti al trattamento dei dati per motivi connessi alla tua situazione particolare.</li>
              <li>Diritto alla portabilità dei dati: ricevere i tuoi dati in un formato strutturato, di uso comune e leggibile da dispositivo automatico e trasmetterli a un altro responsabile.</li>
          </ul><br>

          <li><u>Revoca del consenso:</u></li>
          <p>L'interessato che ha fornito il consenso per il trattamento dei propri dati personali potrà revocarlo con la stessa facilità con cui lo ha concesso. La revoca del consenso non influirà sulla liceità del trattamento effettuato precedentemente.</p>
          <p>L'interessato ha il diritto di presentare un reclamo all'autorità di controllo competente.</p>
          <p>Qualora i dati personali siano trattati successivamente per finalità diverse, il responsabile informerà l'interessato di tale circostanza.</p>

          <li><u>Misure di sicurezza:</u></li>
          <p>Il responsabile del trattamento dichiara di aver adottato misure tecniche e organizzative necessarie per garantire la sicurezza dei dati e prevenirne alterazione, perdita, trattamento o accesso non autorizzato, tenendo conto dello stato della tecnologia, della natura dei dati trattati e dei rischi a cui sono esposti, derivanti da azioni umane o dal mezzo fisico o naturale.</p>
          <p>Il sito web <a href="http://www.educareinpositivo.com">www.educareinpositivo.com</a> contiene link ad altre pagine web che possono essere di interesse per l'interessato. "Educare in Positivo" non si assume alcuna responsabilità per tali link, né garantisce l'osservanza di politiche di privacy adeguate, pertanto l'interessato accede ai contenuti di tali pagine sotto la propria esclusiva responsabilità.</p>
          <p>Se hai dubbi, domande o suggerimenti sulla nostra Politica sulla Privacy, puoi contattarci via email all'indirizzo <a href="mailto:info@educareinpositivo.com">info&#64;educareinpositivo.com</a></p>
          <br>
          <p class="text-center"><strong>"Educare in Positivo" <br> Tutti i diritti riservati.</strong></p>
        </ol>        
    </div>      
  </div>
</section>
