<section class="container-xl mt-5" id="chi-sono">
  <div class="row justify-content-center align-items-center pt-1 pb-4 mb-4 ms-lg-4">
    <div class="col-12 order-2 order-lg-1 text-center text-lg-start mb-5 mb-lg-0">
      <h3 class="mb-3 mx-5 mx-lg-0 fw-bold">Privacy policy</h3>
      <p>
        A través del presente aviso, "Educare in positivo", informa a los usuarios de la Web www.educareinpositivo.com, en cumplimiento del Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016 (Reglamento General de Protección de Datos) y demás normativa de aplicación, de su política de protección de datos personales con la finalidad que éstos decidan de forma expresa, libre y voluntaria, facilitar a "Educare in positivo" los datos personales que les son solicitados motivado por la solicitud de información o para la contratación de los diversos productos y servicios que se ofrecen relacionados con producciones audiovisuales y de comunicación para la promoción de productos y servicios, mediante cualquier técnica audiovisual.
      </p>
      <p>
        Excepto que específicamente se establezca lo contrario, se considera necesario completar todos los datos requeridos en el formulario o impreso análogo de forma verdadera, exacta, completa y actualizada. En caso contrario, el "Educare in positivo" podrá, dependiendo del caso, no proceder al registro del usuario, o bien denegar el servicio concreto solicitado. Todos los datos facilitados por el usuario/interesado serán tratados atendiendo a las características pormenorizadas a continuación.
      </p>
      <p>
        Información relativa al tratamiento de los datos personalesIdentificación del responsable: "Educare in positivo", con domicilio en, Barcelona (España), con NIF: , Correo electrónico de contacto: <span class="fw-bold">info&#64;educareinpositivo.com</span>
      </p>
      <p>
        Finalidad del tratamiento:
      </p>
      <p>
        Todos los datos facilitados serán tratados con las siguientes finalidades:
      </p>
      <p>
        Dar respuesta a las peticiones realizadas por el interesado.
        Mantenimiento de la relación que en su caso se establezca.
        Gestión, administración, información, prestación y mejora de los servicios que se decida contratar.
        Comunicaciones comerciales relacionadas con nuestros productos y servicios.
        Los datos personales proporcionados se conservarán mientras se mantenga la relación contractual, el interesado no solicite expresamente su supresión o sean necesarios para los fines del tratamiento. No procederá la destrucción de los datos cuando exista una previsión legal que exija su conservación, en cuyo caso se procederá al bloqueo de los datos, conservándose únicamente a disposición de las Administraciones públicas o cuerpos de seguridad, para la atención de las posibles responsabilidades nacidas del tratamiento, durante el plazo de prescripción de éstas.
      </p>
      <p>
        En la actualidad no realiza ningún tipo de tratamiento relacionado con la toma de decisiones automatizadas, incluida la elaboración de perfiles, en base a sus datos personales.
      </p>
      <p>
        Legitimación del tratamiento:
      </p>
      <p>
        Todo tratamiento realizado sobre sus datos personales ha sido consentido por Ud. de forma previa y expresa. Con carácter previo se le informa de todos aquellos extremos exigidos por la Ley para que pueda prestar un consentimiento informado.
      </p> 
      <p>
        Podrá revocar este consentimiento en cualquier momento tal y como se detalla más adelante en el presente documento.
      </p>
      <p>
        Menores de edad:
      </p>
        El contenido y los servicios que ofrece "Educare in positivo" está exclusivamente destinado a mayores de edad y se prohíbe su uso y consulta de menores de edad. Solicitamos expresamente a los padres o tutores, que tomen las medidas oportunas para evitar que los menores de edad puedan darse de alta, utilizando programas de control parental o sistemas análogos, e informarnos en caso de tener algún indicio de que el menor se ha dado de alta para tomar las medidas oportunas en cada caso. "Educare in positivo" se reserva el derecho de solicitar al Usuario la documentación que acredite su identidad en los casos que existan dudas sobre la veracidad de sus datos, negándose la prestación de servicios si el Usuario no atiende dicha solicitud.
      <p>
        el "Educare in positivo" ha establecido los mecanismos de control razonables para evitar que los menores de edad utilicen los servicios ofrecidos.
      </p>
      
      <p>
        Destinatarios, cesiones y transferencias de datos:
      </p>
      <p>
        Sus datos no serán cedidos salvo que sean estrictamente indispensable para el cumplimiento de las finalidades anteriormente dichas u obligación legal.
      </p>
      <p>
        Igualmente, sus datos tampoco serán transferidos a países fuera de la Unión Europea salvo que fuera indispensable para el cumplimiento de las finalidades y Ud. nos autorice de forma previa y expresa.
      </p>
      <p> 
        Derechos de los interesados:
      </p>
      <p> 
        Podrá ejercitar en cualquier momento los derechos que se detallan a continuación, mediante correo postal a "Educare in positivo" con domicilio Barcelona (España) o por correo electrónico a <span class="fw-bold">info&#64;educareinpositivo.com</span>. La solicitud deberá contener nombre, apellidos y la documentación que acredite la identidad del interesado o de su representante legal, así como documento acreditativo de la representación, petición en la que se concrete la solicitud, domicilio a efectos de notificación y, en su caso, documentos acreditativos de la petición que formula. Si la solicitud no reúne los requisitos especificados se requerirá su subsanación.
      </p>
      <p> 
        Los derechos de los interesados son: de acceso, rectificación, limitación, portabilidad, oposición y supresión; y su definición es:
      </p>
      <p> 
        Derecho de acceso:
      </p>
      <p>  
        El interesado tendrá derecho a obtener del responsable del tratamiento confirmación de si se están tratando o no datos personales que le conciernen y, en tal caso, derecho de acceso a los datos personales y a la siguiente información:
      </p>
      <p>  
        <ul>
        <li>
        a) los fines del tratamiento
      </li>
      <li>
        b) las categorías de datos personales de que se traten
      </li>
      <li>
        c) los destinatarios o las categorías de destinatarios a los que se comunicaron o serán comunicados los datos personales, en particular destinatarios en terceros u organizaciones internacionales
      </li>
      <li>
        d) de ser posible, el plazo previsto de conservación de los datos personales o, de no ser posible, los criterios utilizados para determinar este plazo
      </li>
      <li>
        e) la existencia del derecho a solicitar del responsable la rectificación o supresión de datos personales o la limitación del tratamiento de datos personales relativos al interesado, o a oponerse a dicho tratamiento
      </li>
      <li>
        f) el derecho a presentar una reclamación ante una autoridad de control
      </li>
      <li>
        g) cuando los datos personales no se hayan obtenido del interesado, cualquier información disponible sobre su origen
      </li>
      <li>
        h) la existencia de decisiones automatizadas, incluida la elaboración de perfiles, a que se refiere el artículo 22, apartados 1 y 4, y, al menos en tales casos, información significativa sobre la lógica aplicada, así como la importancia y las consecuencias previstas de dicho tratamiento para el interesado.
      </li>     
      </ul>
      <p>
        Cuando se transfieran datos personales a un tercer país o a una organización internacional, el interesado tendrá derecho a ser informado de las garantías adecuadas en virtud del artículo 46 relativas a la transferencia. El responsable del tratamiento facilitará una copia de los datos personales objeto de tratamiento. El responsable podrá percibir por cualquier otra copia solicitada por el interesado un canon razonable basado en los costes administrativos. Cuando el interesado presente la solicitud por medios electrónicos, y a menos que este solicite que se facilite de otro modo, la información se facilitará en un formato electrónico de uso común.
      </p>
      <p>
        Derecho de rectificación:
      </p>
      <p>          
        El interesado tendrá derecho a obtener sin dilación indebida del responsable del tratamiento la rectificación de los datos personales inexactos que le conciernan. Teniendo en cuenta los fines del tratamiento, el interesado tendrá derecho a que se completen los datos personales que sean incompletos, inclusive mediante una declaración adicional.
      </p>
      <p>          
        Derecho de supresión:
      </p>
      <p>          
        El interesado tendrá derecho a obtener sin dilación indebida del responsable del tratamiento la supresión de los datos personales que le conciernan, el cual estará obligado a suprimir sin dilación indebida los datos personales cuando concurra alguna de las circunstancias siguientes:
      </p>
      <p>
        <ul>
        <li>
        a) los datos personales ya no sean necesarios en relación con los fines para los que fueron recogidos o tratados de otro modo
      </li>
      <li>
        b) el interesado retire el consentimiento en que se basa el tratamiento de conformidad con el artículo 6, apartado 1, letra a), o el artículo 9, apartado 2, letra a), y este no se base en otro fundamento jurídico
      </li>
      <li>
        c) el interesado se oponga al tratamiento con arreglo al artículo 21, apartado 1, y no prevalezcan otros motivos legítimos para el tratamiento, o el interesado se oponga al tratamiento con arreglo al artículo 21, apartado 2
      </li>
      <li>
        d) los datos personales hayan sido tratados ilícitamente
      </li>
      <li>
        e) los datos personales deban suprimirse para el cumplimiento de una obligación legal establecida en el Derecho de la Unión o de los Estados miembros que se aplique al responsable del tratamiento
      </li>
      <li>
        f) los datos personales se hayan obtenido en relación con la oferta de servicios de la sociedad de la información mencionados en el artículo 8, apartado 1
      </li>       
      </ul>    
      <p>
        Cuando el responsable haya hecho público los datos personales de los cuales el interesado ha ejercido su derecho de supresión, el responsable deberá adoptar, atendiendo la tecnología disponible y el coste de su aplicación, las medidas razonables para comunicar a los terceros que estén tratando esa información de la solicitud de supresión de los datos, así como de cualquier enlace a esos datos o a cualquier copia o replica de los mismos.
      </p>      
      <p>
        Este derecho se verá limitado por otros derechos tales como el derecho a la libertad de expresión e información, por el cumplimiento de alguna obligación legal, o cuando existan razones de interés público.
      </p>      
      <p>          
        Derecho a la limitación del tratamiento:
      </p>      
      <p>          
        El interesado tendrá derecho a obtener del responsable del tratamiento la limitación del tratamiento de los datos cuando se cumpla alguna de las condiciones siguientes:
      </p>      
      <p>
      <ul>
        <li>
        a) el interesado impugne la exactitud de los datos personales, durante un plazo que permita al responsable verificar la exactitud de los mismos
      </li>
      <li>
        b) el tratamiento sea ilícito y el interesado se oponga a la supresión de los datos personales y solicite en su lugar la limitación de su uso
      </li>
      <li>
        c) el responsable ya no necesite los datos personales para los fines del tratamiento, pero el interesado los necesite para la formulación, el ejercicio o la defensa de reclamaciones
      </li>
      <li>
        d) el interesado se haya opuesto al tratamiento en virtud del artículo 21, apartado 1, mientras se verifica si los motivos legítimos del responsable prevalecen sobre los del interesado
      </li>      
      </ul>          
      <p>
        Cuando el tratamiento de datos personales se haya limitado en virtud del apartado 1, dichos datos solo podrán ser objeto de tratamiento, con excepción de su conservación, con el consentimiento del interesado o para la formulación, el ejercicio o la defensa de reclamaciones, o con miras a la protección de los derechos de otra persona física o jurídica o por razones de interés público importante de la Unión o de un determinado Estado miembro.
      </p>      
      <p>  
        Todo interesado que haya obtenido la limitación del tratamiento con arreglo al apartado 1 será informado por el responsable antes del levantamiento de dicha limitación.
      </p>      
      <p>           
        Derecho de oposición:
      </p>      
      <p>           
        El interesado tendrá derecho a oponerse en cualquier momento, por motivos relacionados con su situación particular, a que datos personales que le conciernan sean objeto de un tratamiento basado en lo dispuesto en el artículo 6, apartado 1, letras e) o f), incluida la elaboración de perfiles sobre la base de dichas disposiciones.
      </p>      
      <p>           
        El responsable del tratamiento dejará de tratar los datos personales, salvo que acredite motivos legítimos imperiosos para el tratamiento que prevalezcan sobre los intereses, los derechos y las libertades del interesado, o para la formulación, el ejercicio o la defensa de reclamaciones.
      </p>      
      <p>           
        Cuando el tratamiento de datos personales tenga por objeto la mercadotecnia directa, el interesado tendrá derecho a oponerse en todo momento al tratamiento de los datos personales que le conciernan, incluida la elaboración de perfiles en la medida en que esté relacionada con la citada mercadotecnia.
      </p>      
      <p>           
        Cuando el interesado se oponga al tratamiento con fines de mercadotecnia directa, los datos personales dejarán de ser tratados para dichos fines.
      </p>      
      <p>           
        Cuando los datos personales se traten con fines de investigación científica o histórica o fines estadísticos de conformidad con el artículo 89, apartado 1, el interesado tendrá derecho, por motivos relacionados con su situación particular, a oponerse al tratamiento de datos personales que le conciernan, salvo que sea necesario para el cumplimiento de una misión realizada por razones de interés público.
      </p>      
      <p>           
        Derecho de portabilidad de datos:  
      </p>      
      <p>          
        El interesado tendrá derecho a recibir los datos personales que le incumban, que haya facilitado a un responsable del tratamiento, en un formato estructurado, de uso común y lectura mecánica, y a transmitirlos a otro responsable del tratamiento sin que lo impida el responsable al que se los hubiera facilitado, cuando:
      </p>       
      <ul>
        <li>
          a) el tratamiento esté basado en el consentimiento con arreglo al artículo 6, apartado 1, letra a), o el artículo 9, apartado 2, letra a), o en un contrato con arreglo al artículo 6, apartado 1, letra b), y
        </li>
        <li>
          b) el tratamiento se efectúe por medios automatizados.
        </li>
      </ul>      
      <p>
        2.Al ejercer su derecho a la portabilidad de los datos de acuerdo con el apartado 1, el interesado tendrá derecho a que los datos personales se transmitan directamente de responsable a responsable cuando sea técnicamente posible.
      </p>    
      <p>
        El ejercicio del derecho mencionado en el apartado 1 del presente artículo se entenderá sin perjuicio del artículo 17. Tal derecho no se aplicará al tratamiento que sea necesario para el cumplimiento de una misión realizada en interés público o en el ejercicio de poderes públicos conferidos al responsable del tratamiento.
      </p>    
      <p>  
        El responsable del tratamiento comunicará cualquier rectificación o supresión de datos personales o limitación del tratamiento efectuada con arreglo al artículo 16, al artículo 17, apartado 1, y al artículo 18 a cada uno de los destinatarios a los que se hayan comunicado los datos personales, salvo que sea imposible o exija un esfuerzo desproporcionado. El responsable informará al interesado acerca de dichos destinatarios, si este así lo solicita.
      </p>    
      <p> 
        Revocación del consentimiento: El interesado, que en su momento hubiera otorgado el consentimiento para tratar sus datos personales, podrá igualmente retirarlo con igual facilidad. La retirada del consentimiento no comportará la ilicitud del tratamiento efectuado con anterioridad.
      </p>    
      <p> 
        El interesado tendrá derecho a presentar una reclamación ante la Autoridad de Control competente.
      </p>    
      <p> 
        Cuando los datos personales vayan a ser tratados de forma posterior para finalidades distintas, el responsable informará al interesado de tal extremo.
      </p>    
      <p>  
        Medidas de seguridad: El Responsable del Tratamiento manifiesta que ha adoptado las medidas de índole técnica y organizativa necesarias para garantizar la seguridad de los datos y evitar su alteración, pérdida, tratamiento o acceso no autorizado, teniendo en cuenta el estado de la tecnología, la naturaleza de los datos almacenados y los riesgos a que se encuentran expuestos, ya provengan de la acción humana o del medio físico o natural.
      </p>    
      <p>  
        La Web de www.educareinpositivo.com contiene enlaces a otras páginas Web que puedan resultar de interés para el interesado. "Educare in positivo" no asume ninguna responsabilidad sobre estos enlaces, sin que se pueda dar ninguna garantía en el cumplimiento de políticas de privacidad adecuadas, por lo que el interesado accede al contenido de las referidas páginas Web en las condiciones de uso que se fijen en las mismas y bajo su exclusiva responsabilidad.
      </p>    
      <p>  
        Si tiene alguna duda, cuestión o recomendación sobre nuestra Política de Privacidad, puede dirigirse a nosotros a través de correo electrónico a la siguiente dirección:
        <span class="fw-bold">info&#64;educareinpositivo.com</span>
      </p>    
      <p>  
        - "Educare in positivo"
      </p>    
      <p> 
        Todos los derechos reservados 
      </p>           
    </div>      
  </div>
</section>
