<section class="container-xl mt-5" id="webinar-tematici">
  <div class="row justify-content-center align-items-center pt-1 pb-4 mb-4 ms-lg-4">
    <div class="col-12 col-lg-6 order-2 order-lg-1 text-center text-lg-start mb-5 mb-lg-0">
      <h3 class="mb-3 mx-5 mx-lg-0 fw-bold">Webinar tematici</h3>        
      <p>Webinar <u>lasciare il pannolino in modo rispettoso</u>: Per molti bambini lasciare il pannolino è far fronte a qualcosa di sconosciuto, inesplorato. E’ andare incontro a una situazione che può fargli sperimentare mancanza di sicurezza, ma con questo webinar saprai come aiutare tu&#64; figli&#64;, accompagnandol&#64; durante il processo in modo rispettoso e sicuro. Avrei accesso a strumenti per evitare i principali errori che di solito si commettono e prevenire le difficoltà più importanti che possono sorgere durante il percorso. Cosa più importante è che apprenderai un sistema passo a passo che ti permetterà di insegnare a tu&#64; figli&#64; di confidare in se stesso e nel processo. Aumenterai così le probabilità di successo, seguendo i ritmi naturali del suo sviluppo e promuovendo un rapporto positivo e di fiducia.</p>
      <p>Webinar <u>ambientamento sereno al nido e scuola dell’infanzia</u>: Il momento del passaggio al nido o alla scuola dell’infanzia è per molti il primo vero distacco con la figura di riferimento, per questo è importante gestire in modo sereno questa importante tappa. Ascoltare le emozioni tanto del bambino quanto della mamma e aiutare a gestire il distacco in modo rispettoso e sereno sono gli obiettivi del webinar. Riceverai preziose indicazioni che ti aiuteranno a sostenere tu&#64; figli&#64; in modo rispettoso e sereno mentre affronta questa nuova sfida evolutiva. Potrai elaborare e adattare i suggerimenti alla tua routine familiare o alla struttura educativa della vostra famiglia. Il sostegno emotivo e la tua presenza sensibile sono atteggiamenti su cui tali indicazioni si appoggeranno.</p>          
      <p>Webinar  <u>non chiamateli capricci</u>: i “capricci” non esistono, sono piuttosto una forma con cui il bambino piccolo ci comunica stress, stanchezza, rabbia e frustrazione. Imparerai a decifrare il codice con cui tu&#64; figli&#64; cerca di comunicare un bisogno, una necessità, un malessere; riconoscerai i segnali per prevenire le esplosioni e avrai a disposizione strumenti efficaci, effettivi e rispettosi per gestire la crisi; conoscerai la fisiologia della disregolazione emotiva nei bambini in età prescolare e guarderai con nuovi occhi il “cattivo comportamento” del tu&#64; bambin&#64;. Capirai come stabilire norme e limiti in modo fermo e allo stesso tempo rispettoso, rafforzando il vincolo tra te e tu&#64; figli&#64;.</p>          
      <p>Accedere al webinar ti permetterà un confronto attivo con il professionista e con gli altri partecipanti al corso. Inoltre avrai accesso a tutte le informazioni e alle strategie basate sull’evidenza e sui principi della Disciplina Positiva. Rispetto, calma ed empatia saranno le parole chiave di ogni webinar.</p>                 
    </div>         
    <div class="col-12 col-lg-6 order-2 order-lg-1 text-center text-lg-start mb-5 mb-lg-0">
      <div class="d-none d-sm-block">
        <div class="container mt-5 mb-5 d-flex justify-content-center">
          <div class="card fixed-card bg-primary">
            <div class="card-body">
              <p class="card-text">Se desideri ricevere informazioni più dettagliate e il programma di uno o più webinar, inviami una mail, sarò felice di rispondere ad ogni domanda.</p>
              <a class="nav-link mb-4 mb-lg-0 d-inline fw-bold" href="mailto:info@educareinpositivo.com">info&#64;educareinpositivo.com</a>
            </div>
          </div>
        </div>
      </div>
      <img class="img-fluid" src="img/appoggioAlleFamiglie.png" alt="educare in positivo" />
    </div>       
  </div>
</section>
