/* You can add global styles to this file, and also import other style files */

$theme-colors: (
  "primary": #98d2de,
  "secondary": #9f83bd,
  "success": #8dacda,
  "warning": #F1FCFE
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
  font-family: "Arial Narrow", Arial, sans-serif;
}

h3 {
  color: map-get($theme-colors, "secondary");
}

.btn-cta {
  position: relative; /* Cambiar a posición relativa */
  color: white; 
  background-color: #98d2de; 
  border-color: #98d2de; 
  font-weight: bold; 
  font-size: 1.2rem; 
  padding: 0; 
  border-radius: 50%; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  text-transform: uppercase; 
  letter-spacing: 0.05em; 
  transition: background-color 0.3s ease, box-shadow 0.3s ease; 
  cursor: pointer; 
  width: 8em; 
  height: 8em; 
  animation: swing 1s infinite; 
  z-index: 1000;
  margin-bottom: 20px; 
}

.btn-ctaChiamata {
  position: fixed; /* Cambiado a 'fixed' para que sea visible durante el scroll */
  top: 20%; /* Posición inicial */
  right: 20px; /* Espaciado desde el borde derecho */
  color: white; 
  background-color: #9f83bd; 
  border: 0.2em solid #98d2de;
  font-weight: bold; 
  font-size: 1.2rem; 
  padding: 0; 
  border-radius: 50%; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  text-transform: uppercase; 
  letter-spacing: 0.05em; 
  transition: top 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; 
  cursor: pointer; 
  width: 9em; 
  height: 9em; 
  z-index: 1000;
}

/* Cambios de color en hover */
.btn-primary:hover { 
  color: map-get($theme-colors, "primary");
  background-color: white;
  border-color: map-get($colors, 'primary');
}

.btn-cta:hover { 
  color: #98d2de; 
  background-color: #F1FCFE; 
  border-color: #98d2de; 
  font-weight: bold; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.btn-ctaChiamata:hover { 
  color: #9f83bd; 
  background-color: #98d2de; 
  border-color: #9f83bd; 
  font-weight: bold; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

@keyframes swing {
  0% {
    transform: rotate(0deg); 
  }
  25% {
    transform: rotate(5deg); 
  }
  50% {
    transform: rotate(-5deg); 
  }
  100% {
    transform: rotate(0deg); 
  }
}

