@import '../../../styles.scss';

body {
  overflow-x: hidden;
}

.card .img-size {
  width: 40%;
}

.card {
  border-color: map-get($theme-colors, "primary");
  border-width: 1px;
  border-style: solid;
}

.card-title{
  color: map-get($theme-colors, "secondary");
}

.carousel {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.carousel::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.carousel::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.carousel::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 400px) {
  h2 {
    font-size: 2em !important;
  }
}

.accordion-button:hover {
  color: map-get($colors, 'secondary') !important;
}
