@import '../../../styles.scss';

* {
  font-family: "Arial Narrow", Arial, sans-serif;
}

body {
  overflow-x: hidden;
}

h2 {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3em !important; 
  padding: 0.2em;
}

.card .img-size {
  width: 40%;
}

.carousel {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.carousel::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.carousel::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.carousel::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 400px) {
  h2 {
    font-size: 2em !important;
  }
}

.btn-primary:hover { 
  color: map-get($colors, 'primary') !important;
  background-color: white !important;
  border-color: map-get($colors, 'primary') !important;
}

.accordion-button:hover {
  color: map-get($colors, 'secondary') !important;
}

.list-group-item:hover {
  color: map-get($colors, 'secondary') !important;
}

  

 
