@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";

$primary: #98d2de;
$secondary: #9f83bd;
$success: #8dacda;
$warning: #F1FCFE;

* {
  font-family: "Arial Narrow", Arial, sans-serif;
}


  
 .navbar-nav .nav-item .nav-link {
    letter-spacing: 0.1rem;
  }
  
  .nav-tabs .nav-item .nav-link.active {
    color: dark;
    border-bottom: 0.25rem solid $secondary;
  }
  
  .nav-tabs .nav-item .nav-link {
    color: gray;
    border: none;
  }
  
  .nav .nav-item .nav-link {
    letter-spacing: 0.1rem;
  } 


  .quick-contact {
    background-color: $primary;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    padding: 0.5em;
    text-align: center;
    font-size: 0.9em;
  }

  .quick-contact a {
    color: $secondary;   
  }
 
  .btn-secondary:hover {
    color: $secondary !important;
    background-color: $warning !important;
    border-color: $secondary !important;
  }
  .btn-light:hover {
    color: $dark;
    background-color: $body-bg;
    border-color: $dark;
  }
  .nav-link:hover{
    color: $secondary !important;
  }
 
  .social-icon:hover {
    transform: scale(1.2);
  }

  

  

 
