@import '../../../styles.scss';

* {
  font-family: "Arial Narrow", Arial, sans-serif;
}

.inchiesta{
  background-color: map-get($theme-colors, "warning")!important;
}

.footer{
  background-color: map-get($theme-colors, "primary")!important;
}
  
 .nav-item .nav-link {
    letter-spacing: 0.1rem;
    color: gray;
    border: none;
  }
  
 .nav-item .nav-link.active {
    color: dark;
    border-bottom: 0.25rem solid map-get($theme-colors, "secondary");;
  }
    
  .nav .nav-item .nav-link {
    letter-spacing: 0.1rem;
  } 

 
  .btn-secondary:hover {
    color: map-get($theme-colors, "secondary") !important;
    background-color: map-get($theme-colors, "warning")!important;
    border-color: map-get($theme-colors, "secondary") !important;
  }
  
  .nav-link:hover{
    color: map-get($theme-colors, "secondary") !important;
  }
 
  .social-icon:hover {
    transform: scale(1.2);
  }

  .btn:hover {
    color: #9f83bd !important;
  }

  

  

 
