<section class="container-xl mt-3" id="chi-sono">
  <div class="row justify-content-center align-items-center pt-1 pb-4 mb-4 ms-lg-4">
    <div class="col-12 col-lg-6 order-2 order-lg-1 text-center text-lg-start mb-5 mb-lg-0">
      <h1 class="mb-3 mx-5 mx-lg-0 fw-bold">Cos’è la Disciplina Positiva e cosa può fare per te</h1>
      <p>
        Anche io sono genitore e come te, mi sono sentita spesso oppressa, inadeguata e frustrata. La maternità mi ha fatto vivere situazioni difficili da gestire con il mio bambino ed ho sentito che la mia formazione ed esperienza, senza dubbio molto utili, non erano sufficienti.
      </p>
      <p>          
        La <strong>Disciplina Positiva</strong>  ha fornito alla nostra famiglia strategie educative effettive, promuovendo una relazione basata sulla fiducia, il rispetto reciproco e l’empatia, fondamentali per un sano sviluppo emotivo. Ci ha permesso di connetterci con il nostro bambino, le sue e le nostre emozioni, a livello profondo. Ci ha  consentito di vivere in un clima familiare positivo, in cui il nostro bambino può sentirsi al sicuro e supportato nel suo viaggio verso l'esplorazione, la sperimentazione e l’apprendimento. Ci ha dato la possibilità di convertirci negli adulti di cui avremmo avuto bisogno quando eravamo piccoli, consapevoli che l’infanzia non è un tempo destinato a finire, ma qualcosa che ci accompagna per tutta la vita.
      </p>
      <p>
        Le esperienze vissute in questo periodo lasciano un'impronta indelebile che influenza la vita da adulti. Così abbiamo compreso che la migliore eredità che avessimo potuto assicurare al nostro bambino è una relazione basata sul rispetto, la fiducia e l’amore.
      </p>
      <app-btn-chiamata></app-btn-chiamata> 
    </div>  
    <div class="col-12 col-lg-6 order-2 order-lg-1 text-center text-lg-start mb-5 mb-lg-0">
      <div class="d-none d-sm-block">
        <div class="container mb-5 d-flex justify-content-center">
          <!-- <div class="card fixed-card bg-primary">
            <div class="card-body">
              <p class="card-text">Se desideri ricevere informazioni più dettagliate e il programma di uno o più webinar, inviami una mail, sarò felice di rispondere ad ogni domanda.</p>
              <a class="nav-link mb-4 mb-lg-0 d-inline fw-bold" href="mailto:info@educareinpositivo.com">info&#64;educareinpositivo.com</a>
            </div>
          </div> -->
        </div>
      </div>
      <img loading="lazy" class="img-fluid" src="img/educare-in-positivo.png" alt="educare in positivo" />
    </div>    
  </div>
</section>
