@import '../../../styles.scss';

.logo {
  margin-bottom: -60px; // Consider reviewing if this is necessary
}

.titulo {
  color: map-get($theme-colors, "secondary");
}

.nav-link {
  letter-spacing: 0.1rem;

  &:hover,
  .dropdown-item:hover {
    color: map-get($theme-colors, "secondary");
  }
}

.nav-tabs .nav-link {
  color: gray;
  border: none;

  &.active {
    color: black;
    border-bottom: 0.25rem solid map-get($theme-colors, "secondary");
  }
}

.navbar-toggler {
  box-shadow: none;
  
  @media (max-width: 991px) {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 2em;
  }
}

.social-icon:hover {
  transform: scale(1.2);
}
