<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="https://www.educareinpositivo.com">          
      <img class="d-none d-lg-block logo" src="img/logo_def.svg" alt="EIP" height="130">
      <img class="d-block d-lg-none" src="img/logo_def.svg" alt="EIP"  height="70">
    </a>
    <div class="col-3 d-flex align-items-center justify-content-start me-4">
      <a class="navbar-brand ms-lg-1" href="https://www.educareinpositivo.com">          
          <span class="text-secondary">Educare in Positivo</span>
      </a>
  </div>
    <button class="navbar-toggler ms-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" >
        <li class="nav-item">
          <a class="nav-link" href="./chi-sono.html">CHI SONO</a>
        </li>           
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            SERVIZI
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="./corso-educare-in-positivo.html">PER-CORSO “EDUCARE IN POSITIVO”</a></li>              
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="./corso-consulenza-personalizzata.html">SUPPORTO PERSONALIZZATO</a></li>              
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="./corso-webinar-tematici.html">WEBINAR TEMATICI</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./disciplina-positiva.html">DISCIPLINA POSITIVA</a>
        </li>
        <li class="lh-lg">
          <a class="nav-link d-inline pe-4" href="https://www.instagram.com/educareinpositivo/" target="_blank">
            <img src="icon/icon-instagram.svg" alt="twitter-icon" height="25" class="social-icon">
          </a>    
          <a class="nav-link d-inline" href="https://es-la.facebook.com/nuni.nuni.5203577" target="_blank">
            <img src="icon/icon-facebook.svg" alt="facebook-icon" height="25" class="social-icon" target="_blank">
          </a>       
        </li>           
      </ul>
    </div>
  </div>
</nav>
