@import '../../../styles.scss';

* {
  font-family: "Arial Narrow", Arial, sans-serif;
}

.logo {
  margin-bottom: -60px;
}

.titulo {
  color: map-get($theme-colors, "secondary");
}

.navbar-nav .nav-item .nav-link {
  letter-spacing: 0.1rem;
}

.nav-tabs .nav-item .nav-link.active {
  color: black;  // Si "dark" no es un color válido, puedes usar "black" o cualquier otro valor válido
  border-bottom: 0.25rem solid map-get($theme-colors, "secondary");
}

.nav-tabs .nav-item .nav-link {
  color: gray;
  border: none;
}

.nav .nav-item .nav-link {
  letter-spacing: 0.1rem;
}

@media (max-width: 991px) {
  .navbar-toggler {
    display: flex;
    justify-content: end !important;   
  }    
}

@media screen and (max-width: 400px) {
  h2 {
    font-size: 2em !important;     
  }    
}

.nav-link:hover {
  color: map-get($theme-colors, "secondary");
}

.navbar-toggler:focus {
  box-shadow: none;
}

.dropdown-item:hover{
  color: map-get($theme-colors, "secondary");
}

.social-icon:hover {
  transform: scale(1.2);
}


  

 
