RewriteEngine On

# Fuerza el uso de HTTPS en todo el sitio
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Reenvía las solicitudes que comienzan con /api al backend
RewriteCond %{REQUEST_URI} ^/api
RewriteRule ^(.*)$ https://educareinpositivo.site/$1 [P,L]

# Permite el acceso normal a otros archivos estáticos o páginas
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html [L]

# Manejar errores si el backend está apagado
ErrorDocument 502 /down.html
ErrorDocument 504 /down.html
