# Habilitar mod_rewrite
RewriteEngine On

# Forzar el uso de HTTPS en todo el sitio
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Excluir solicitudes hacia /api del manejo del frontend
RewriteCond %{REQUEST_URI} ^/api
RewriteRule ^ - [L]

# Redirigir otras rutas al frontend
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html [L]

# Manejo de errores del backend
ErrorDocument 502 /down.html
ErrorDocument 504 /down.html
